<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main-content">
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="image">
                        <img src="images/image.jpg" alt="">
                    </div>
                    <h2 class="name">Yaneth Doria</h2>
                    <p class="career">Software Engineer</p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contacto</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            +58 412-1075534
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            yanethbdoria@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-user"></i>
                            C.I. 30.039.933
                        </li>
                        <li>
                            <i class="fa fa-github"></i>
                            @betzadev
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            San Juan de los Morros, Guárico, Venezuela.
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Javascript</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">HTML/CSS</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Node JS</p>
                            <div class="progress-bar">
                                <div class="progress n-progress"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                </div>
            </div>
        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">Sobre mí</h2>
                    <p class="para">
                        Soy Yaneth Doria,estudiante de ingeniería en informática en el séptimo semestre de la carrera. Tengo 20 años y poseo conocimientos avanzados en JavaScript, HTML/CSS y Node.js. 
                        <br>
                        Me apasiona el desarrollo de aplicaciones móviles y páginas web, y estoy particularmente interesada en todo lo relacionado con diseño de interfaces. Estoy buscando oportunidades para aplicar mis habilidades y conocimientos en un entorno profesional.
                    </p>
                </section>

                <section class="education sect">
                    <h2 class="right-title">educación</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Universidad Nacional Experimental
                              "Rómulo Gallegos"
                              </h5>
                            <p class="para">2020 - Actualidad</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Ingeniería en Informática</h5>
                            </div>
                        </div>
                      <div style="padding: 10px;"></div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">U.E.N "Rafael Cabrera Malo</h5>
                            <p class="para">2015 - 2020</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Bachiller en Ciencias</h5>
                            </div>
                        </div>
                    </div>
                    
                </section>
                <section class="awards sect">
                    <h2 class="right-title">Cursos</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Responsive web desing</h5>
                            <p class="para">Julio 2023</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">FreeCodeCamp</h5>
                                <p class="para">
                                  <a href="https://www.freecodecamp.org/espanol/certification/bethdev/responsive-web-design">Certificación de Diseño Web Adaptativo</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">King's College London</h5>
                            <p class="para">2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Basic English 1: Elementary</h5>
                                <p class="para">
                                    <a href="https://www.futurelearn.com/certificates/2rbmabd">Certificación en inglés básico elemental</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
</body>
</html>